#google
{
    height: 150px;
    width: 150px;
}
.img
{
    width: 200px;
    height: 300px;
}
#mobilenet
{
    background-color: blue;
    font-size: large;
}
.img_div
{
    background-color: grey;
    border-radius: 50px;
}
